{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} : Modifier Film{% endblock %}

{% block body %}
    <h1>Modifier le film {{film.Titre}}</h1>


<div class="buttonlist">
      {{ include('film/_form.html.twig', {'button_label': 'Update'}) }}
      <a class="btn btn-warning" href="{{ path('film_index') }}"><i class="fas fa-backward"></i></a>
</div>
{% endblock %}
