{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} : Ajouter un film{% endblock %}

{% block body %}
    <h1>Ajouter un film</h1>

    {{ include('film/_form.html.twig') }}

    <a class="btn btn-warning" href="{{ path('film_index') }}">Retour</a>
{% endblock %}
