{% extends 'base.html.twig' %}

{% block title %}Modifier mon compte{% endblock %}

{% block body %}
<center class="mb-3">
    <h1>Modifier mon compte</h1>
</center>
    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-primary" href="{{ path('user_index') }}" title="Retour"><i class="fas fa-backward"></i></a>

{% endblock %}
